@page "/Obs"

<EditForm class="form-group" Model="@newObs" OnValidSubmit="AddObs">
    <button id="b1" type="button" class="btn btn-info" data-toggle="collapse" data-target="#g@(obs.GrpId)">@obs.GrpText</button>
    <div id="g@(obs.GrpId)" class="collapse">
        <div class="panel panel-success  col-sm-*">
            <div class="panel-body">
                @foreach (ObservationModel o in obs.observations)
                    {
                        string id = obs.GrpId +""+o.ObsId;//@obs.ObsText.Substring(0, 1) + "" + @obs.ObsText.Substring(2, 1);
                    <div>
                        <label class="control-label col-sm-4" style="padding-top:0.5em;">@o.ObsText</label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="@(id)s" name="radioGroup@(id)" @onclick="@(e => SetObsValue(Convert.ToInt16(@id),0))">
                            <label class="custom-control-label" for="@(id)s">Safe</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="@(id)r" name="radioGroup@(id)" @onclick="@(e => SetObsValue(Convert.ToInt16(@id),1))">
                            <label class="custom-control-label" for="@(id)r">At-Risk</label>
                        </div>
                        <input type="text" class="form-control" placeholder="comments" @onchange="@(e=>SetObsComment(e,11))" />
                    </div>
                }
            </div>
        </div>
    </div>

</EditForm>
@code {

    public List<ObservationModel> obsList = new List<ObservationModel>();
    private ObservationModel newObs = new ObservationModel();

    [Parameter]
    public ObservationViewModel obs { get; set; }

    private void AddObs()
    {
        obsList.Add(newObs);
        newObs = new ObservationModel();
    }
    private void SetObsValue(int id, int val)
    {

        //observations.RemoveAll(e => e.ObsId == id);
        //observations.Add(new Observation { ObsId = id, ObsVal = val, Comment = "" });
    }

    private void SetObsComment(ChangeEventArgs e, int id)
    {
        //observations.Find(e => e.ObsId == id).Comment = e.Value.ToString();
    }
}
